* {
  padding: 0;
  margin: 0;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background-color: #5f9ea0;
}
.flo a {
  position: fixed;
  bottom: 7.5%;
  right: 10%;
  display: flex;
  font-weight: 600;
  animation: anmt 2s ease-in-out infinite;
}
@keyframes anmt {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0);
  }
}
a {
  font-family: "Noto Sans TC", sans-serif;
  margin: auto;
  text-decoration-line: none;
  color: #000000;
  font-size: 18px;
}

.map {
  width: 70%;
  height: 512px;
  margin: 50px auto;
}
iframe {
  object-fit: contain;
}

.basic {
  background-color: #fff;
}

img {
  max-width: 100%;
}

.page1 {
  background-color: cadetblue;
  max-width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.page1 .box {
  display: flex;
  width: 1080px;
  margin: 0 auto;
}

.page1 .link {
  width: 65%;
  margin: auto 0 auto auto;
  display: flex;
}

.page1 h1 {
  padding: 10px 0;
  margin-left: 0.5em;
}

.page1 a {
  margin: auto;
  text-decoration-line: none;
  color: #000000;
  font-size: 22px;
  transition: 400ms;
}

.page1 a:hover {
  font-size: 24px;
}

.page2 {
  background-color: #fff;
  font-family: "Noto Sans TC";
  margin: 50px auto;
  width: 1080px;
  display: flex;
  max-width: 100%;
}

.page2 .box {
  padding: 1em;
  width: 540px;
}

.page2 .post {
  margin: auto 0;
  padding: 1em 1em 1em 4em;
  width: 540px;
}

.page2 .post h1 {
  font-size: 60px;
  font-weight: 400;
}

.page2 .post p {
  /* padding: 5px; */
  margin: 4% 0 5% 0;
  line-height: 2em;
  font-size: 22px;
  font-weight: 300;
  max-width: 100%;

  text-align: justify;
}
.page2 .post a,
.page2 .post button {
  padding: 5px 10px 8px 10px;
  background-color: #8fced0;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  transition: 250ms;
  text-decoration-color: chartreuse;
}
.page2 .post a:hover,
.page2 .post button:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  background-color: #fff;
}

.page2 .sp{
  width: 1px;
  height: 10px;
}

.end {
  background-color: #5f9ea0;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.end .box {
  margin: auto;
  padding: 50px 0;
  width: 1080px;
  display: flex;
}

.end h1,
h2 {
  font-weight: 400;
}

.end a {
  margin: auto 5% auto auto;
  text-decoration-line: none;
  color: #000000;
  font-size: 18px;
  /* font-weight: bold; */
  transition: 500ms;
}

.end a:hover {
  font-size: 24px;
}

.filter {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3px) brightness(95%);
  top: 0;
  left: 0;
}
.shop {
  position: fixed;
  width: 80%;
  max-width: 340px;
  height: 75%;
  max-height: 540px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  border-radius: 10px;
  border-width: 1px;
  border-color: #000;
  box-shadow: 5px 5px 3px teal;
  padding-top: 50px;

  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.shop .close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.shop > button {
  background-color: #8fced0;
  border: none;
  color: #000000;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 10px;
  transition: 250ms;
}
.shop > button:hover {
  background-color: #fafafa;
  color: chartreuse;
}
.shop .item {
  margin: 10px;
  display: flex;
}
.shop .item-list {
  overflow: auto;
  height: 85%;
}
.shop .foot {
  margin: auto;
  display: flex;
  /* padding-right: 50px; */
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 92.5%;
}
.shop .totall {
  margin: auto 0;
}

.shop .pay {
  background-color: #8fced0;
  border: none;
  color: #0c0b0b;
  margin: auto;
  margin-right: 0;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
}
.shop .item .item-left {
  width: 75%;
}
.shop h1 {
  font-size: 1.25rem;
}
.shop p {
  font-size: 1rem;
}
.shop .item .img-box {
  padding: 5px;
}
.shop .item .item-num {
  display: flex;
}
.item-num button {
  margin: 0 3px;
  font-size: 18px;
  background-color: #8fced0;
  border: none;
  color: #000000;
  padding: 0 4px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.item-num p {
  text-align: center;
  font-size: 18px;
}

button:disabled{
  color: #fff;
  background-color: #fafafa;
}

/*RWD*/
@media (max-width: 1080px) {
  .page1 .box {
    max-width: 540px;
  }

  .page1 .link {
    width: 70%;
  }

  .page1 .link a {
    font-size: 22px;
  }

  .page2 {
    max-width: 540px;
  }

  .page2 .box {
    width: 240px;
  }

  .page2 .post {
    width: 240px;
    padding: 1em 1em 1em 2em;
  }

  .page2 .post h1 {
    font-size: 30px;
  }

  .page2 .post p {
    margin-top: 2.5%;
    line-height: 1.5em;
    font-size: 16px;
    max-width: 100%;
  }

  .page2 .post a,
  .page2 .post button {
    font-size: 18px;
  }

  .end .box {
    max-width: 510px;
  }
}

@media (max-width: 540px) {
  .page1 .box {
    max-width: 90%;
  }

  .page1 h1 {
    font-size: 24px;
  }

  .page1 .link {
    width: 72.5%;
  }

  .page1 .link a {
    width: 35px;
    font-size: 13px;
    padding: 0 5px;
  }

  .page2 {
    margin: 10% auto;
    max-width: 80%;
    display: block;
  }

  .page2 .box {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .page2 .post {
    width: 100%;
    padding: 0;
    margin: 5% 0;
  }

  .page2 .post h1 {
    font-size: 30px;
  }

  .page2 .post p {
    margin-top: 2.5%;
    line-height: 1.65em;
    font-size: 18px;
    max-width: 100%;
  }

  .end .box {
    max-width: 80%;
  }
}

@media (max-width: 340px) {
  .page1 .box {
    max-width: 100%;
  }

  .page1 h1 {
    font-size: 20px;
  }

  .page1 .link {
    width: 75%;
  }

  .page1 .link a {
    font-size: 8px;
    padding: 0 4px;
  }

  .page2 {
    margin: 10% auto;
    max-width: 80%;
    display: block;
  }

  .page2 .box {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .page2 .post {
    width: 100%;
    padding: 0;
    margin: 5% 0;
  }

  .page2 .post h1 {
    font-size: 30px;
  }

  .page2 .post p {
    margin-top: 2.5%;
    line-height: 1.65em;
    font-size: 18px;
    max-width: 100%;
  }

  .end .box {
    max-width: 80%;
  }
}
