<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <heads></heads>
        <maincontainer></maincontainer>
        <newpost v-if="visble"></newpost>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    visble: false
                }
            },
            methods: {
                visblechange() {
                    console.log('khbfh')
                    this.visble = !this.visble;
                    if (this.visble) {
                        document.body.style['overflow-y'] = 'hidden';
                    } else {
                        document.body.style['overflow-y'] = 'auto';
                    }

                }
            },
        })

        app.component('heads', {
            data() {
                return {

                }
            },
            template: `
            <header>
                <nav>
                    <headbuttons></headbuttons>
                    <headserch></headserch>
                    <headdesktop></headdesktop>
                </nav>
            </header>
            `
        })

        app.component('headbuttons', {
            data() {
                return {

                }
            },
            template: `
            <div class='headbuttons'>
                <a class="headerhome">
                    <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="">
                </a>
            </div>
            `
        })

        app.component('headserch', {
            data() {
                return {

                }
            },
            template: `
                <div class='headserch'>
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Search">
                </div>
            `
        })

        app.component('headdesktop', {
            data() {
                return {

                }
            },
            template: `
            <div class='headbuttons'>
                <awithsvg href='' svg='bi bi-house-door' styles='font-size: 1.5rem; font-weight: 500; color: #000;' ></awithsvg>
                <awithsvg href='' @click="$root.visblechange()" svg='bi bi-plus-square' styles='font-size: 1.5rem; font-weight: 500; color: #000;'></awithsvg>
                <awithsvg href='' svg='bi bi-heart' styles='font-size: 1.5rem; font-weight: 500; color: #000;' ></awithsvg>
            </div>
                `
        })

        // app.component('headmobile', {
        //     data() {
        //         return {

        //         }
        //     },
        //     template: `
        //     <div class='header__buttons'>
        //         <awithsvg href='' svg='' styles='' ></awithsvg>
        //         <awithsvg href='' svg='' styles='' ></awithsvg>
        //         <awithsvg href='' svg='' styles='' ></awithsvg>
        //     </div>
        //     `
        // })

        app.component('awithsvg', {
            data() {
                return {

                }
            },
            props: [
                'href', 'svg', 'styles'
            ],
            computed: {
                hrefs() {
                    if (typeof (this.href) == "undefined") {
                        return '#';
                    } else {
                        return '#' + this.href;
                    }
                }
            },
            template: `
            <a :href=hrefs>
                <i :class=svg :style=styles ></i>
            </a>
            `
        })

        app.component('maincontainer', {
            data() {
                return {

                }
            },
            template: `
            <main>
                <section>
                    <div class='posts'>
                        <post v-for="i in 5"></post>
                    </div>
                </section>
            </main>
            `
        })

        app.component('post', {
            data() {
                return {

                }
            },
            template: `
            <article class='post'>
                <posthead></posthead>
                <postcont></postcont>
                <postfoot></postfoot>
            </article>
            `
        })

        app.component('posthead', {
            data() {
                return {


                }
            },
            template: `
            <div class='posthead'>
                <div class="post__profile">
                    <a href="#" class="post__avatar">
                        <img src="../instagram-clone/assets/default-user.png" alt="User Picture" />
                    </a>
                    <a href="#" class="post__user">usernick1</a>
                </div>
                <button class="post__more-options">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
            `
        })

        app.component('postcont', {
            data() {
                return {

                }
            },
            template: `
            <div class='postcont'>
                <div class="post__medias">
                    <img class="post__media" src="../instagram-clone/assets/insta-clone.png" alt="Post Content" />
                </div>
            </div>
            `
        })

        app.component('postfoot', {
            data() {
                return {

                }
            },
            template: `
            <div class='postfoot'>
                <div class="post__buttons">
                    <button class="post__button">
                        <i class="bi bi-heart"></i>
                    </button>
                
                    <div class="post__indicators"></div>
                
                    <button class="post__button">
                        <i class="bi bi-chat"></i>
                    </button>
                    <button class="post__button">
                        <i class="bi bi-share"></i>
                    </button>
                </div>

                <div class="post__infos">
                    <div class="post__likes">
                        <a href="#" class="post__likes-avatar">
                            <img src="../instagram-clone/assets/default-user.png" alt="User Picture" />
                        </a>
                    
                        <span>Liked by
                            <a class="post__name--underline" href="#">user123</a> and
                            <a href="#">73 others</a></span>
                    </div>
                
                    <div class="post__description">
                        <span>
                            <a class="post__name--underline" href="#">usernick1</a>
                            Multiple media post example. This post has three images!
                        </span>
                    </div>
                
                    <span class="post__date-time">1 hour ago</span>
                </div>
            </div>
            `
        })

        app.component("newpost", {
            data() {
                return {

                }
            },
            template: `
            <div class="fliter">
                <div class="close">
                    <button class="close-button" @click="$root.visblechange()">
                        <i class="bi bi-x-lg" style="color: #fff;"></i>
                    </button>
                </div>
                <div class="newpost">
                    <div class="newpost_form">
                        <div class="newpost_head">
                            <div></div>
                            <p>新增貼文</p>
                            <div></div>
                        </div>
                        <div class="newpost_conten">
                            <div class="newpost_img">
                                <div class="someth">
                                   <i class="bi bi-upload"></i>
                                   <p>把相片拖到這裡</p>
                                   <button>從電腦選擇相片</button>
                                </div>
                            </div>
                            <div class="newpost_para">
                                <textarea name="" id="" cols="30" rows="10" placeholder="撰寫貼文"></textarea>
                            </div>
                        </div>
                        <div class="newpost_footer">
                            <button>上傳</button>
                        </div>
                    
                    </div>
                </div>
            </div>
            `
        })

        app.mount('#app')
    </script>
</body>

</html>
