/* CSS reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

textarea {
  border: none;
}


/* reset end */

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

i {
  display: block;
}

/* I::before {
    display: none;
} */

/* #app {
  overflow-y: hidden;
} */

img {
  max-width: 100%;
}

header {
  width: 100%;
  height: 44px;
  background-color: #fff;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}

header nav {
  width: 100%;
  max-width: 975px;

  padding: 0 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerhome {
  margin-top: 5px;
}

.headserch {
  width: 216px;
  height: 28px;
  margin: 0 2%;

  align-items: center;
  position: relative;
}

.headserch i {
  width: 12px;
  height: 12px;

  position: absolute;
  top: 6px;
  left: 8px;
}

.headserch input {
  width: 100%;
  height: 100%;
  background-color: #efefef;

  padding: 4px 10px 4px 32px;
  border: 1px solid #efefef;
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  color: #000;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.headbuttons {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 16px;
}

main {
  background-color: #fafafa;

  margin-top: 44px;
  margin-bottom: 44px;

  display: flex;
  flex: 5;
}

main section {
  width: 100%;
  max-width: 935px;

  padding: 0 0 8px;

  margin: 0 auto;
  display: flex;
}

.posts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.posthead {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.post__profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.post__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.post__avatar::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid #1a1a1a;
  border-radius: 50%;
}

.post__user {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  text-decoration: none;
  text-transform: lowercase;
}
.post__user:hover {
  text-decoration: underline;
}
.post__more-options {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.postcont {
  display: flex;
  position: relative;
}

.post__medias {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;

  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.post__medias::-webkit-scrollbar {
  display: none;
}
.post__media {
  width: 100%;
  flex: none;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.postfoot {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 4px;
}
.post__buttons {
  display: flex;
  position: relative;
}
.post__button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  padding: 8px;
}
.post__button--align-right {
  margin-left: auto;
}
.post__indicators {
  display: flex;
  align-items: center;
  gap: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.post__indicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--text-light);
}
.post__indicator--active {
  background-color: var(--link);
}

.post__infos {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  gap: 10px;
}
.post__likes,
.post__description {
  display: flex;
}
.post__likes {
  align-items: center;
  gap: 6px;
}
.post__likes-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.post__likes-avatar::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}
.post__likes span,
.post__description span {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-dark);
}
.post__likes a,
.post__description a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
  text-decoration: none;
}
.post__name--underline:hover {
  text-decoration: underline;
}
.post__date-time {
  font-size: 10px;
  font-weight: 400;
  color: var(--text-light);
  text-transform: uppercase;
  
}


.fliter {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px) brightness(20%);
  top: 0;
  left: 0;
  z-index: 100;
}

.close {
  position: fixed;
  right: 20px;
  top: 15px;
}

.close button {
  background-color: unset;
  border: none;
}
.close i {
  font-size: 36px;
}

.newpost {
  position: fixed;
  width: 75%;
  max-width: 540px;
  height: 75%;
  max-height: 540px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newpost_form {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  border-width: 1px;
  border-color: #000;
  /* box-shadow: 5px 5px 3px teal; */

  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}
.newpost_head {
  display:flex;
  height: 10%;
  border-bottom: 1px solid #dbdbdb;
}

.newpost_head p{
  font-weight: 700;
  margin: auto;
}

.newpost_img{
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

 .newpost_img img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  object-fit: contain;
} 

.newpost_img i,
.newpost_img p,
.newpost_img button {
  margin: auto;
}

.newpost_img i {
  font-size: 5vh;
  flex-grow:2;
}

.newpost_img p,
.newpost_img button {
  flex-grow:1;
}

.newpost_img button {
  flex-basis: 12px;
}

.newpost_conten{
  height: 80%;
}

.newpost_footer{
  height: 10%;
}

.newpost_footer button {
  background-color: #fff;
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 100%;
}

.newpost_para {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #dbdbdb;
  padding: 10PX;
  background-color: #fff;
}
.newpost_para textarea {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: large;
}

.newpost_para textarea::focus {
  background-color: #000;
  border: none;
}

.newpost_para textarea::-webkit-resizer {
  display: none;
}


/* .newpost_head p ::after {

}
.newpost_head p ::before {

} */



/* RWD */
@media (max-width: 767px) {
  .header__buttons--desktop {
    display: none;
  }

  /* Fix post medias indicators bugs on mobile */
  .post__medias {
    gap: 1px;
  }
}

@media (min-width: 620px) {
  main section {
    padding: 30px 0 24px;
  }

  .posts {
    gap: 24px;
  }
  .post {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }
  .postfoot {
    padding: 4px 8px 12px;
  }
  .post__date-time {
    margin-top: 6px;
  }
}

@media (min-width: 768px) {
  header nav {
    padding: 0 20px;
  }
}

@media (min-width: 1024px) {
  main {
    background-color: #fafafa;
  }

  .posts {
    margin: unset;
  }
}
